{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Trans - Welcome: {{name}}

{% endblock %}

{% block content %}
    <ol type="a" class="list-group">
        <li class="list-group-item">
            Trans something that you did not need anymore and get some money from them<br/>
            Or you can buy something you like by some money of your<br/>
            You can chat to exchange your needs<br/>
            Everyone has different initial money and goods which is produced by PC randomly<br/>
        </li>
        <li class="list-group-item">
            <strong>Your Fee: ¥{{fee}}</strong>
        </li>
    </ol>
    <div class="mt-3">
        {% next_button %}
    </div>
{% endblock %}
